DNS Name Constraints may not have a "." prefix.

This relates to #136 as well as #413 (begin linting out DNS and IP name constraints). Rather than have a monolithic "invalid DNS" lint I reckoned that it would be pertinent to break these out into individual lints as one can imagine how quickly that one lint could grow.

This issue relates to the mistake of thinking that a DNS name constraint is allowed to have a leading "." (much like how a URI can). However...

> DNS name restrictions are expressed as host.example.com. Any DNS
name that can be constructed by simply adding zero or more labels to
the left-hand side of the name satisfies the name constraint. For
example, www.host.example.com would satisfy the constraint but
host1.example.com would not.
> 
> As per RFC 1034 section 3.5 (https://tools.ietf.org/html/rfc1034#section-3.5)
a label MUST begin with a letter.
