Lint the signature field of a tbsCertificate matches the signatureAlgorithm field of a certificate

RFC 5280, [Section 4.1.1.2](https://tools.ietf.org/html/rfc5280#section-4.1.1.2) states:
```
   This field MUST contain the same algorithm identifier as the
   signature field in the sequence tbsCertificate (Section 4.1.2.3).
```

While the outer `signatureAlgorithm` is fully malleable to attackers, adding a lint to ensure the consistency between the inner and outer algorithms would align with RFC 5280.

This is most likely blocked on https://github.com/zmap/zcrypto/issues/213 to expose this information.