Lint for Apple root program certificate lifetime restriction

There is an upcoming change to the Apple root program that will be reducing the maximum allowed certificate lifetime: https://support.apple.com/en-us/HT211025

> TLS server certificates issued on or after September 1, 2020 00:00 GMT/UTC must not have a validity period greater than 398 days.
> ...
> Notes
> * Validity period is defined in line with RFC 5280, Section 4.1.2.5, as "the period of time from notBefore through notAfter, inclusive."
> * 398 days is measured with a day being equal to 86,400 seconds. Any time greater than this indicates an additional day of validity.
> * We recommend that certificates be issued with a maximum validity of 397 days.

~Once an official policy reference (I've only seen a [tweet](https://twitter.com/chosensecurity/status/1230253348236013570)) is available with more details (e.g. when does this requirement become active?) ZLint should implement a lint scoped with an appropriate source.~

~TBD: details and authoritative reference.~

