ZLINT  for code sign certificates

I am new to zlint, and want to know if zlint has linting checks for code sign certificates..
If yes, how can i test only code sign certificate lints using zlint.
i used cmd:  **zlint codesign.pem** looks like it is validating all the checks.


Howdy @babish504!

ZLint is meant for linting certificates used in TLS communications. While I am aware that the CA/B Forum has [baseline requirements for code signing](https://cabforum.org/baseline-requirements-code-signing/) I do not believe I have seen a lint written that cites these documents.

With regard to running only a select number of names lints, please refer to the README's [Command Line Usage](https://github.com/zmap/zlint#command-line-usage).

There are a number of lints that apply to simply producing a valid certificate according to the RFCs which would equally apply to code signing certs. Also, there is no reason there couldn't be a catalogue of code signing lints were someone to create and maintain them but I don't think any exist right now.

Right, you can pick and choose whatever lints may happen to apply, but as you pointed out we don't have any categories that are _explicitly_ for code signing.

I suspect that most of the lints you want are going to be RFC-based. I would start by running certificate against RFC-based lints and see where that gets you. You can do this on CLI by setting `includeSources= RFC5280,RFC5480, RFC5891`. This might still have _some_ FPs but certainly less than if you're trying to run against CABF and other root store policies.